body {
  background-color: #890024;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  color: white;
  text-decoration: none;
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 768px) { 
  #navbar {
      padding-top: 10px;
      display: block;
      height: 175px;
      width: 99%;
  }
  body {
      margin: 0;
  }
  #flavors-catalog li{
    background-color: #2c2e2d;
    padding: 10px;
    border-radius: 10px;
  }
  #flavors-catalog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20PX;
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 1200px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

#navbar a:hover {
  transition: ease-in-out all .4s;
  -moz-transition: ease-in-out all .4s;
  -webkit-transition: ease-in-out all .4s;
  background-color: #000000;
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

#account-page {
  text-align: center;
}

.account-page-button {
  background-color: white;
  border: none;
  color: black;
  padding: 5px 5px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}


#login-form a {
  text-align: center;
  color: white;
  text-decoration: underline;
}

#login-form button {
  cursor: pointer;
  border-radius: 5px;
  color: #000000;
  background-color: white;
  font-size: 16px;
  padding: 5px 5px;
}

#sort-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}


#login-form {
  text-align: center;
  background-color: #2c2e2d;
  padding: 10px;
  margin-top: 20px;
  max-width: 70%;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 10px;
}


footer {
  text-align: center;
  padding-top: 200px;
}

#links {
  display: flex;
  gap: 20px;
}

#links a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
}

#home {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2c2e2d;
  border-radius: 10px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#home img {
  width: 30.5em;
}
@media (min-width: 768px) {
  #flavors-catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20PX;
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 1200px;
  }
}

#flavors-catalog li {
  background-color: #2c2e2d;
  padding: 10px;
  border-radius: 10px;
}

#flavors-page {
  text-align: center;
}

#register-form {
  background-color: #2c2e2d;
  margin-left: 15%;
  margin-right: 15%;
  max-width: 70%;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

#register-form a {
  text-align: center;
  color: white;
  text-decoration: underline;
}

#register-form button {
  cursor: pointer;
  border-radius: 5px;
  color: #000000;
  background-color: white;
  font-size: 16px;
  padding: 5px 5px;
}

#admin-page h1,
h2,
h3 {
  text-align: center;
  text-decoration: underline;
}

#admin-page {
  text-align: center;
}

#user-list table {
  background-color: #2c2e2d;
  border-collapse: collapse;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}


#user-list th,
td {
  border: 2px solid white;
  padding: 10px;


}


#flavor-list table {
  background-color: #2c2e2d;
  border-collapse: collapse;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}


#flavor-list th,
td {
  border: 2px solid white;
  padding: 10px;


}

.split-view {
  display: flex;
  margin: 1em 2em;
  gap: 0.5em
}

.split-view>div {
  background-color: #2c2e2d;
  padding: 1em;
  border-radius: 0.5em;
}

.split-left {
  width: 30%;
  margin-top: auto;
}

.split-right {
  flex-grow: 1;
  margin-bottom: auto;
}

.split-view>div>p {
  text-align: left;
  font-size: 16;
}

.split-view>div>img {

  border-radius: 0.5em;
  max-width: 90%;
}

#flavor-details {
  text-align: center;
}

/* Reviews and comments */

#reviews-and-comments {
  background-color: #2c2e2d;
  margin: 4em;
  border-radius: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#reviews-and-comments>div {
  text-align: left;
  background-color: black;
  padding: 1em;
  border-radius: 0.5em;
  margin: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.revCom {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.score-container {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.score-input {
  width: 2em;
  text-align: center;
  border: 1px solid white;
  background-color: #2c2e2d;
  color: white;
  padding: 0.2em;
  font-size: 1em;
  border-radius: 0.3em;
}

.score-input:focus {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.username {
  margin-left: auto;
  color: grey;
  font-style: italic;
}


#home img {
  max-width: 60%;
}

hr {
  border: none;
  border-top: 1px solid white;
  margin: 0.5em 0;
}

.content-input {
  flex-grow: 1;
  height: 6em;
  padding: 0.5em;
  border: 1px solid white;
  background-color: #2c2e2d;
  color: white;
  resize: none;
  border-radius: 0.3em;
}

.content-input:focus {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.submit-btn {
  align-self: center;
  padding: 0.5em 2em;
  border: none;
  background-color: white;
  color: #890024;
  font-size: 1em;
  font-weight: bold;
  border-radius: 2em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.submit-btn:hover {
  background-color: #f5f5f5;
}

.submit-btn:active {
  background-color: #890024;
  color: white;
}

.score-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: #2c2e2d;
  border: 2px solid white;
  font-size: 1.2em;
  font-weight: bold;
}

.score {
  font-size: 1.3em;
}

.out-of {
  font-size: 0.8em;
}

.review-content {
  background-color: #2c2e2d;
  padding: 1em;
  border: 1px solid white;
  border-radius: 0.3em;
  position: relative;
}

.own-review:hover .review-controls {
  display: flex;
}

.review-controls {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  display: none;
  gap: 0.5em;
}

.edit-btn,
.delete-btn {
  width: 2em;
  height: 2em;
  background-color: rgba(128, 128, 128, 0.7);
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-btn i,
.delete-btn i {
  color: white;
  font-size: 1em;
}

.toggle-comments-btn {
  background: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5em;
}

.toggle-comments-btn:hover {
  color: lightgray;
}

.comment-content {
  background-color: #2c2e2d;
  padding: 0.5em;
  border: 1px solid white;
  border-radius: 0.3em;
  position: relative;
}

